;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Nov  6 05:02:14 2012
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("main" "defconst" "logloop"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/liwei/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(semantic-highlight-edits-mode semantic-show-unmatched-syntax-mode semantic-show-parser-state-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode ecb-minor-mode)
  2857
  '(2857 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/liwei/sbso_emacs/emacs_linux_cvs.markdown"
  "emacs_linux_cvs.markdown"
  'markdown-mode
  '(ecb-minor-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (buffer-file-coding-system . utf-8-unix)))

